name: build

on: [push, pull_request]

jobs:
  linux:
    if: contains(github.event.head_commit.message, '[ci skip]') == false
    strategy:
      matrix:
        r: [latest]
        # r: [3.5, latest, devel]
    runs-on: ubuntu-latest
    container: rocker/tidyverse:${{ matrix.r }}
    env:
      NOT_CRAN: true
    steps:
    - uses: actions/checkout@v1
    - name: Install apt-get dependencies
      run: |
        apt-get update
        apt-get install git ssh curl bzip2 libffi6 libffi-dev -y
    - name: Install languagesever
      run: |
        Rscript -e "install.packages(c('remotes', 'rcmdcheck'), repos = 'https://cloud.r-project.org')"
        Rscript -e "remotes::install_deps(dependencies = TRUE)"
      shell:
        bash
    - name: Running Tests
      run: |
        Rscript -e "rcmdcheck::rcmdcheck(args = c('--as-cran', '--no-manual', '--timings'))"
      shell:
        bash
    - name: Codecov
      run: Rscript -e "covr::codecov()" || true
      env:
        CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
      shell:
        bash

  macos:
    if: contains(github.event.head_commit.message, '[ci skip]') == false
    strategy:
      matrix:
        r: [3.6]
        # r: [3.5, 3.6, devel]
    runs-on: macOS-latest
    env:
      NOT_CRAN: true
    steps:
    - uses: actions/checkout@v1
    - uses: r-lib/actions/setup-r@v1
      with:
        r-version: ${{ matrix.r }}
    - name: Install languagesever
      run: |
        Rscript -e "install.packages(c('remotes', 'rcmdcheck'), repos = 'https://cloud.r-project.org', type = 'mac.binary.el-capitan')"
        Rscript -e "remotes::install_deps(dependencies = TRUE, type = 'mac.binary.el-capitan')"
      shell:
        bash
    - name: Running Tests
      run: |
        Rscript -e "rcmdcheck::rcmdcheck(args = c('--as-cran', '--no-manual', '--timings'))"
      shell:
        bash
    - name: Codecov
      run: Rscript -e "covr::codecov()" || true
      env:
        CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
      shell:
        bash

  windows:
    if: contains(github.event.head_commit.message, '[ci skip]') == false
    strategy:
      matrix:
        r: [3.6]
        # r: [3.5, 3.6, devel]
    runs-on: windows-latest
    env:
      NOT_CRAN: true
    steps:
    - uses: actions/checkout@v1
    - uses: r-lib/actions/setup-r@v1
      with:
        r-version: ${{ matrix.r }}
    - name: Install dependencies
      run: |
        Rscript -e "install.packages(c('remotes', 'devtools'), repos = 'https://cloud.r-project.org', type = 'win.binary')"
        Rscript -e "remotes::install_deps(dependencies = TRUE, type = 'win.binary')"
        # in Windows, we need to install a seperate copy for spawning server in the tests
        Rscript -e "devtools::install(type = 'win.binary')"
      shell:
        pwsh
    - name: Running Tests
      run: |
        Rscript -e "rcmdcheck::rcmdcheck(args = c('--as-cran', '--no-manual', '--timings'))"
      shell:
        pwsh
